{% extends "downloader/base.html" %}

{% block content %}

<div class="hero">

    <h1>Download Instagram Videos & Reels Instantly</h1>
    <p>No login. No watermark. Fast & free.</p>

    <a href="/downloader/" class="hero-btn">
        Start Downloading
    </a>

    <h2 class="tools-title">All Media Tools</h2>

    <div class="tools-grid">
        <a href="/downloader/" class="tool-card">
            <h3>Instagram Downloader</h3>
            <p>Download posts & reels</p>
        </a>

       <a href="https://stylish-ai-name-generator.onrender.com/"
   target="_blank"
   class="tool-card">
    <h3>Stylish Name Generator</h3>
    <p>Create stylish names</p>
</a>


        <div class="tool-card disabled">
            <h3>Youtube Converter</h3>
            <p>Coming soon</p>
        </div>
    </div>

</div>

{% endblock %}
